In [40]:
import pandas as pd
import numpy as np
from itertools import accumulate

In [18]:
a = [54, 2, 5, 12, 32]

In [16]:
pd.Series(a)

0    54
1     2
2     5
3    12
4    32
dtype: int64

In [21]:
dataFrame = {'Xi':[2, 3, 4, 5], 'Fi':[4, 3, 2, 1], 'Fi*Xi':[]}

In [26]:
pd.DataFrame(data=dataFrame)

   Xi  Fi
0   2   4
1   3   3
2   4   2
3   5   1

In [33]:
Fi = [4, 3, 2, 1]

In [41]:
list(accumulate(Fi))

[4, 7, 9, 10]